{% extends "dashboard/layouts/base.html" %}

{% block title %} Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card ">
          <div class="card-header">
            <h4 class="card-title"> Trading Contest</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table tablesorter " id="">
                <thead class=" text-primary">
                  <tr>
                    <th>
                      Rank
                    </th>
                    <th>
                      Trader
                    </th>
                    <th>
                      Country
                    </th>
                    <th>
                      City
                    </th>
                    <th class="text-center">
                      Earnings
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <div class="photo">
                        <img src="/static/dashboard/assets/img/anime3.png" alt="Profile Photo">
                      </div>
                    </td>
                    <td>
                      Dakota Rice
                    </td>
                    <td>
                      Ireland
                    </td>
                    <td>
                      Oud-Turnhout
                    </td>
                    <td class="text-center">
                      $96,738
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="photo">
                        <img src="/static/dashboard/assets/img/anime3.png" alt="Profile Photo">
                      </div>
                    </td>
                    <td>
                      Minerva Hooper
                    </td>
                    <td>
                      Curaçao
                    </td>
                    <td>
                      Sinaai-Waas
                    </td>
                    <td class="text-center">
                      $85,789
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="photo">
                        <img src="/static/dashboard/assets/img/anime3.png" alt="Profile Photo">
                      </div>
                    </td>
                    <td>
                      Sage Rodriguez
                    </td>
                    <td>
                      Netherlands
                    </td>
                    <td>
                      Baileux
                    </td>
                    <td class="text-center">
                      $83,142
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="photo">
                        <img src="/static/dashboard/assets/img/anime3.png" alt="Profile Photo">
                      </div>
                    </td>
                    <td>
                      Philip Chaney
                    </td>
                    <td>
                      Korea, South
                    </td>
                    <td>
                      Overland Park
                    </td>
                    <td class="text-center">
                      $61,735
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="photo">
                        <img src="/static/dashboard/assets/img/anime3.png" alt="Profile Photo">
                      </div>
                    </td>
                    <td>
                      Doris Greene
                    </td>
                    <td>
                      Malawi
                    </td>
                    <td>
                      Feldkirchen in Kärnten
                    </td>
                    <td class="text-center">
                      $55,542
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="photo">
                        <img src="/static/dashboard/assets/img/anime3.png" alt="Profile Photo">
                      </div>
                    </td>
                    <td>
                      Mason Porter
                    </td>
                    <td>
                      Chile
                    </td>
                    <td>
                      Gloucester
                    </td>
                    <td class="text-center">
                      $53,610
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="photo">
                        <img src="/static/dashboard/assets/img/anime3.png" alt="Profile Photo">
                      </div>
                    </td>
                    <td>
                      Jon Porter
                    </td>
                    <td>
                      Portugal
                    </td>
                    <td>
                      Gloucester
                    </td>
                    <td class="text-center">
                      $44,615
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <div class="card  card-plain">
          <div class="card-header">
            <h4 class="card-title"> Monthly Contest</h4>
            <p class="category"> Here is a contest leaderboard for this month</p>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table tablesorter " id="">
                <thead class=" text-primary">
                  <tr>
                    <th>
                      Rank
                    </th>
                    <th>
                      Trader
                    </th>
                    <th>
                      Country
                    </th>
                    <th>
                      City
                    </th>
                    <th class="text-center">
                      Earnings
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <div class="photo">
                        <img src="/static/dashboard/assets/img/anime3.png" alt="Profile Photo">
                      </div>
                    </td>
                    <td>
                      Jon Becker
                    </td>
                    <td>
                      Germany
                    </td>
                    <td>
                      Berlin
                    </td>
                    <td class="text-center">
                      $235,738
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="photo">
                        <img src="/static/dashboard/assets/img/anime3.png" alt="Profile Photo">
                      </div>
                    </td>
                    <td>
                      Clarke Sterling
                    </td>
                    <td>
                      England
                    </td>
                    <td>
                      Liverpool
                    </td>
                    <td class="text-center">
                      $213,860
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="photo">
                        <img src="/static/dashboard/assets/img/anime3.png" alt="Profile Photo">
                      </div>
                    </td>
                    <td>
                      Olivia Christina
                    </td>
                    <td>
                      Spain
                    </td>
                    <td>
                      Las Palmas
                    </td>
                    <td class="text-center">
                      $173,533
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="photo">
                        <img src="/static/dashboard/assets/img/anime3.png" alt="Profile Photo">
                      </div>
                    </td>
                    <td>
                      Roberto Stelleini
                    </td>
                    <td>
                      Italy
                    </td>
                    <td>
                      Napels
                    </td>
                    <td class="text-center">
                      $153,424
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="photo">
                        <img src="/static/dashboard/assets/img/anime3.png" alt="Profile Photo">
                      </div>
                    </td>
                    <td>
                      Diane Bella
                    </td>
                    <td>
                      South Africa
                    </td>
                    <td>
                      Cape Town
                    </td>
                    <td class="text-center">
                      $145,534
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="photo">
                        <img src="/static/dashboard/assets/img/anime3.png" alt="Profile Photo">
                      </div>
                    </td>
                    <td>
                      Carlos Susueta
                    </td>
                    <td>
                      Argentina
                    </td>
                    <td>
                      Buenos Aries
                    </td>
                    <td class="text-center">
                      $121,300
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="photo">
                        <img src="/static/dashboard/assets/img/anime3.png" alt="Profile Photo">
                      </div>
                    </td>
                    <td>
                      Alexis Sandra
                    </td>
                    <td>
                      Peru
                    </td>
                    <td>
                      Arequipa
                    </td>
                    <td class="text-center">
                      $101,533
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <div class="places-buttons">
                <div class="row">
                  <div class="col-md-6 ml-auto mr-auto text-center">
                    <h4 class="card-title">
                      Upcoming Contests
                      <p class="category">Click to view Updcoming Trading Contests</p>
                    </h4>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-8 ml-auto mr-auto">
                    <div class="row">
                      <div class="col-md-4">
                        <button class="btn btn-primary btn-block" onclick="demo.showNotification('top','left')">Starting 1st Dec</button>
                      </div>
                      <div class="col-md-4">
                        <button class="btn btn-primary btn-block" onclick="demo.showNotification('top','center')">Starting 7th Dec</button>
                      </div>
                      <div class="col-md-4">
                        <button class="btn btn-primary btn-block" onclick="demo.showNotification('top','right')">Starting 13th Dec</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-8 ml-auto mr-auto">
                    <div class="row">
                      <div class="col-md-4">
                        <button class="btn btn-primary btn-block" onclick="demo.showNotification('bottom','left')">Starting 19st Dec</button>
                      </div>
                      <div class="col-md-4">
                        <button class="btn btn-primary btn-block" onclick="demo.showNotification('bottom','center')">Starting 25th Dec</button>
                      </div>
                      <div class="col-md-4">
                        <button class="btn btn-primary btn-block" onclick="demo.showNotification('bottom','right')">Starting 31st Dec</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
